body {
    padding-top: 75px
}

.box-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05),
                0px 4px 6px 0px rgba(0,0,0,0.05);
}

@media(max-width: 992px) {
    .form {
        max-width: 600px;
    }

    @media(max-width: 767px) {
        .button-action-nav {
            margin-top: 10px;
        }
    }
}

.background-image {
    background-image: url('../img/bg-quote.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a.pergunta {
    text-decoration: none;
}

a.pergunta:hover {
    text-decoration: underline;
}

a {
    text-decoration: none
}

a.footer-paginas:hover {
    text-decoration: underline
}

